boost_1_72_0/
WiredTiger
WiredTiger.basecfg
WiredTiger.lock
WiredTiger.turtle
WiredTiger.wt
WiredTigerLAS.wt
graph_api
*.o
src/db/
cscope.out
tags
build/profile/
build/release/
build/wt_stats/
debug/
.DS_Store
mt_test/
profile/
release/
db/
.vscode/
workspace.code-workspace
tasks.md
build/paths.sh
outputs/
build/.cmake/
build/.ninja_deps
build/.ninja_log
build/CMakeCache.txt
build/CMakeFiles/
build/benchmark/
build/build.ninja
build/cmake_install.cmake
build/compile_commands.json
build/preprocess/
build/src/
build/stat/
build/test/
build/utils/
cmake-build-debug/
.idea/
